*.ipynb
**/.DS_Store
stan_meme_creator/static/.DS_Store
stan_meme_creator/__pycache__/utils.cpython-310.pyc
.env
# Ignore all .pyc files
**/*.pyc
**/*.cpython-312.pyc

stan_meme_creator/utils/__pycache__/meme_utils.cpython-312.pyc
stan_meme_creator/components/meme_editor/frontend/node_modules
stan_meme_creator/utils/__pycache__/link_utils.cpython-312.pyc
stan_meme_creator/utils/__pycache__/meme_utils.cpython-312.pyc
